<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= form_tag trash_users_path, :method => :delete do %>

  <table>
   
   <%= render(UserTableHeaderComponent.new(["First Name", "Last Name", "Email", "Gender", "Height"]))%>

    <tbody>
        <% @users.each do |user| %>

         <%= render(UserTableRowComponent.new(user)) %>

        <% end %> 
    </tbody>

  </table>

  <%= submit_tag "Trash All Checked" %>
<% end %>

<%== pagy_nav(@pagy) %>

<br>

<%= link_to 'New User', new_user_path %>
